body{
    background-color: white;
    color:black;
  
}

img{
    width: 10%;
}
a{
    text-decoration: none;
    color: black;
}
button{
    border-radius: 15px;
    color: white;
    background-color: black;
    padding: 5px;
}
li{
    color: red;
}
section{
    background: yellow;
}